.wrap {
  width: 1440px;
  margin: 0 auto;
  min-height: 1500px;
}
.aside-nav {
  width: 200px;
  position: fixed;
  right: 15px;
  top: 50%;
  background-color: skyblue;
  transform: translateY(-50%);
}

.nav__list {
  margin: 0;
  padding: 10px;
  list-style: none;
}

.nav__link {
  color: black;
}
