.card {
  width: 300px;
  box-sizing: border-box;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  font-family: sans-serif;
  text-align: center;
}

.card__title {
  font-weight: 400;
}

.card__title::after {
  content: "";
  display: block;
  width: 20px;
  margin: 10px auto;
  border-bottom: 5px dotted red;
}

.card__desc {
  font-size: 0.8em;
  padding: 0 20px;
  color: rgba(0, 0, 0, 0.5);
}

.card__btn {
  border: none;
  background: red;
  color: white;
  border-radius: 20px;
  padding: 10px 20px;
  margin-bottom: 20px;
}
