body {
  font-family: Oswald, sans-serif;
  width: 1400px;
  margin: 0 auto;
}
/*
padding 1
*/
p {
  font-size: 30px;
  font-weight: 400;
}

.font {
  background-color: #f9e3b2;
  padding: 5px 15px;
}

.font__light {
  font-weight: 300;
}

.font__regular {
  font-weight: 400;
}

.font__medium {
  font-weight: 500;
}

.font__semi-bold {
  font-weight: 600;
}

.font__bold {
  font-weight: 700;
}
/* 
padding-2
*/
.wonders-list {  
  width: 550px;
  
  background-color: #b18979;
  color: white;
  list-style: none;
  border-radius: 10px;
  padding: 0;
  font-size: 24px;
}

.wonders-item {
  border-bottom: 2px solid white;  
  padding: 20px;
}

.wonders-item:last-child {
  border-bottom: none;
}